<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <ul>
    <li><p><a href="/random">Get a Random Cafe</a></p></li>
    <li><p><a href="/all">Get all Cafes</a></p></li>
    <li><p><a href="/search">Search for a Cafe</a></p></li>
    <li><p><a href="/add">Add a Cafe</a></p></li>
    <li><p><a href="/delete">Delete a Cafe</a></p></li>
    <li><p><a href="/update">Update a Cafe</a></p></li>
    </ul>
</body>
</html>