<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Form configuration: Sends data to the '/form-entry' route using the POST method -->
    <form action="./form-entry" method="POST"> 
        <!-- Label and input field for capturing the username -->
        <label for="username">username:</label>
        <input type="text" id="username" name="username" placeholder="Hello_World123">
        <!-- Label and input field for capturing the password -->
        <label for="password">password:</label>
        <input type="text" id="password" name="password" placeholder="Type your password here">
        <!-- Button to trigger the form submission -->
        <button type="submit">submit</button>
    </form>
</body>
</html>